In [25]:
import pandas as pd

data = pd.read_csv(r"C:\Users\sidme\Desktop\archive\country_wise_latest.csv")

data.rename(columns={'Country/Region': 'Country', '1 week % increase': 'Weekly increase'}, inplace=True)
data.drop(['New cases'], axis=1, inplace=True)


europe_data = data[data['WHO Region'] == 'Europe'].groupby(['Country'])[['Country', 'Confirmed']].sum()

europe_data

                                       Country  Confirmed
Country
Albania                                Albania       4880
Andorra                                Andorra        907
Armenia                                Armenia      37390
Austria                                Austria      20558
Azerbaijan                          Azerbaijan      30446
Belarus                                Belarus      67251
Belgium                                Belgium      66428
Bosnia and Herzegovina  Bosnia and Herzegovina      10498
Bulgaria                              Bulgaria      10621
Croatia                                Croatia       4881
Cyprus                                  Cyprus       1060
Czechia                                Czechia      15516
Denmark                                Denmark      13761
Estonia                                Estonia       2034
Finland                                Finland       7398
France                                  France     220352
Georgia                                Georgia       1137
Germany                                Germany     207112
Greece                                  Greece       4227
Greenland                            Greenland         14
Holy See                              Holy See         12
Hungary                                Hungary       4448
Iceland                                Iceland       1854
Ireland                                Ireland      25892
Israel                                  Israel      63985
Italy                                    Italy     246286
Kazakhstan                          Kazakhstan      84648
Kosovo                                  Kosovo       7413
Kyrgyzstan                          Kyrgyzstan      33296
Latvia                                  Latvia       1219
Liechtenstein                    Liechtenstein         86
Lithuania                            Lithuania       2019
Luxembourg                          Luxembourg       6321
Malta                                    Malta        701
Moldova                                Moldova      23154
Monaco                                  Monaco        116
Montenegro                          Montenegro       2893
Netherlands                        Netherlands      53413
North Macedonia                North Macedonia      10213
Norway                                  Norway       9132
Poland                                  Poland      43402
Portugal                              Portugal      50299
Romania                                Romania      45902
Russia                                  Russia     816680
San Marino                          San Marino        699
Serbia                                  Serbia      24141
Slovakia                              Slovakia       2181
Slovenia                              Slovenia       2087
Spain                                    Spain     272421
Sweden                                  Sweden      79395
Switzerland                        Switzerland      34477
Tajikistan                          Tajikistan       7235
Turkey                                  Turkey     227019
Ukraine                                Ukraine      67096
United Kingdom                  United Kingdom     301708
Uzbekistan                          Uzbekistan      21209

In [30]:
required_record = data[data['Confirmed'] == max(data['Confirmed'])]
required_record.groupby('Country')[['Country']].sum()

        Country
Country
US           US