In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv(r"C:\Users\sidme\Desktop\archive\country_wise_latest.csv")

data[data['Country/Region'] == 'Afghanistan']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.5,69.49,5.04,35526,737,2.07,Eastern Mediterranean